@charset 'UTF-8';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: Tahoma;
    text-align: center;
}

header {
    background-color: #afddfb;
    text-align: center;
}

header img {
    width: 150px;
    height: auto;
}

header, div {
    padding: 30px 0;
    text-align: center;
}

nav {
    margin: 15px 0 25px 0;
    text-align: center;
}

nav a {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0 10px;
}

p {
    width: 980px;
    text-align: justify;
    margin: 0 auto;
}

span {
    font-weight: bold;
}

#Banner {
    margin-top: 50px;
    padding-top: 0;
}



#Sobre h1 {
    color: #1d1d1d;
    margin-bottom: 5px;
}

#Sobre h2, #Corretores h2 {
    color: #1c81c0;
}

#Sobre img, #Corretores img {
    width: 450px;
    height: auto;
}

#Sobre span, #Corretores span {
    color: #1d80c1;
}

#Servicos, #Contato {
    background-color: #1d80c1;
    color: white;
}

#Servicos h2, #Corretores h2, #Contato h2 {
    font-size: 28px;
    line-height: 42px;
}

#Servicos p {
    line-height: 42px;
    font-size: 22px;
    text-align: center;
    width: 700px;
}

#Servicos span, #Contato span {
    color: #fff81b;
}

#Servicos ul {
    margin: 40px auto;
    width: 135px;
}

#Servicos li {
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}

#Contato p {
    color: #ffffff;
    background-color: #1d1d1d;
    padding: 15px;
    margin: 30px auto;
}

#Contato ul {
    margin: 40px auto;
    list-style-type: none;
    width: 210px;
}

#Contato li {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    color: #1c81c0;
    background-color: #ffffff;
    padding: 2px 5px;
    border-radius: 5px;
}